.card {
 margin-bottom: 5px;
 width: 420px;
 height: 300px;
 border-radius: 30px;
 background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}

.card:active {
  cursor: grabbing;
}

  .card:hover{
    background: lightblue;
  }

  .submit_form{

    text-align: center;
    padding: 3%;
    background: pink;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),
                0 6px 20px 0 rgba(0,0,0,0.36);
  }

.column {
  min-height: 300px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  background-color: #fafafa;

}
