<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type='text/css' href="../../static/style.css">
  

</head>

<body  class="container-fluid">

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info">
    <strong>{{message}}</strong>
  </div>
  {% endfor %}
  {% endif %}

  <center class="row">
    <h1><i>Trellado</i></h1>
    <form action="/criar" method="GET" style=" padding-right: 4%; padding-bottom: 3%;">
          {% csrf_token %}
          <button value="create" type="submit"  class="btn btn-primary" style="float: right;"><span class="glyphicon glyphicon-edit"></span> &nbsp; Criar Card</button>
        </form>
    <hr />
  </center>

      
  {% for item in list %}
  
    <div class="card" draggable="true" ondragstart="drag(event)" id="card{{ item.id }}">
      <center><b>{{ item.title }}</b></center>
      <hr>
      Criada em: {{ item.date|date:"d/m/Y H:i" }}<br>
      Vencimento: {{ item.duedate|date:"d/m/Y" }}<br>
      Status:
      {% if item.duedate < today %}
        <span style="color:red">Atrasada</span>
      {% else %}
        <span style="color:green">No prazo</span>
      {% endif %}
      <hr>
      {{ item.details }}
      <br><br>

      <div style="display: flex; justify-content: space-between; gap: 10px; padding-bottom: 3%;">
        <form action="{% url 'editar' item.id %}" method="GET">
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit"></span> &nbsp; Edit
          </button>
        </form>

        <form action="{% url 'del' item.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span> &nbsp; Remove
          </button>
        </form>
      </div>
    </div>
  
{% endfor %}

      
    </div>
 
 
</div>
</body>

</html>