<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type='text/css' href="../../static/style.css">
</head>
<body>
    <center class="row">
        <h1><i>Register</i></h1>
        <hr>
    </center>
    
    <center>
        <div class="submit_form">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <center>
                    <input type="submit" class="btn btn-success" value="Register" />
                </center>
            </form>
            <br>
            <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
            <center><a href="{% url 'todo' %}">Back to Home</a></center>
        </div>
    </center>
</body>
</html>